* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background: radial-gradient(circle at center, hsl(205, 70%, 16%), hsl(205, 70%, 7%));
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #ddd;
    font-family: Sans;
    /* background-color: hsl(205, 60%, 15%); */
}

.board {
    position: relative;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}

.node {
    position: absolute;
    z-index: 1;
}

a, a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit;
}

.node-content {
    position: relative;
    min-height: 100px;
    background-color: hsla(205, 70%, 10%, 0.90);
    text-align: center;
    border: 2px solid hsl(205, 70%, 20%);
    border-radius: 10px;
}

.node-content-inner {
    position: absolute;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.node .title {
    font-size: 1.2em;
    margin: 5px
}

.node .subtitle {
    font-size: 1em;
    margin: 5px;
    color: #aaa;
}

.link-panel {
    display: flex;
    width: 100%;
    position:default;
    min-height: 18px;
}

.dot-outer {
    flex-grow: 1;
}

.dot {
    width: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #444;
    color: #eee;
    border-radius: 10px;
}

.link-source {
    /* its empty */
}

.highlighted-node {
    border: 2px solid #ccc;
    box-shadow: 0px 0px 20px #ccc;
}

#link-view-panel {
    z-index: 2;
    display: none;
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 0px;
}

#link-view-panel .close-button {
    margin-top: 10px;
    margin-bottom: 5px;
    min-width: 100px;
    font-size: 1em;
    transform: translateX(-50%);
}

#link-view-panel iframe {
    overflow: scroll;
    transform: translateX(-50%);
    background-color: #000;
    border: 2px solid hsl(205, 70%, 20%);
}

