* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #ddd;
    font-family: Sans;
    background-color: hsl(205, 0%, 17%);
    padding: 20px;
}

.board {
    position: relative;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}

.node {
    position: absolute;
    z-index: 1;
}

a, a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit;
}

.node-content {
    position: relative;
    min-height: 100px;
    background-color: hsl(205, 0%, 13%);
    text-align: center;
    border: 2px solid hsl(50, 0%, 20%);
    border-radius: 10px;
}

.node-content-inner {
    position: absolute;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.node .title {
    font-size: 1.2em;
    margin: 5px;
    color: hsl(50, 0%, 50%);
}

.node .title a {
    color: #eee;
}

.node .title a:hover {
    text-decoration: underline;
    color: #2af;
}

.node .subtitle {
    font-size: 1em;
    margin: 5px;
    color: hsl(50, 0%, 50%);
}

.link-panel {
    display: flex;
    width: 100%;
    position: static;
    min-height: 18px;
}

.dot-outer {
    flex-grow: 1;
}

.dot {
    width: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #444;
    color: #eee;
    border-radius: 10px;
}

.link-source {
    /* its empty */
}

.highlighted-node {
    border: 2px solid #ccc;
    box-shadow: 0px 0px 20px #ccc;
}

#link-view-panel {
    z-index: 2;
    display: none;
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 0px;
}

#link-view-panel .close-button {
    margin-top: 10px;
    margin-bottom: 5px;
    min-width: 100px;
    font-size: 1em;
    transform: translateX(-50%);
}

#link-view-panel iframe {
    overflow: scroll;
    transform: translateX(-50%);
    background-color: #111;
    box-shadow: 0px 0px 40px #000;
}

#link-view-panel .div-frame {
    transform: translateX(-50%);
    background-color: #111e;
    box-shadow: 0px 0px 40px #000;
    overflow: auto;
    justify-content: center;
}

.div-frame img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@keyframes zoomIn {
    0% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}

.display-load-effect {
    animation: zoomIn 0.5s ease;
}

::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background-color: #111;
}

::-webkit-scrollbar-thumb {
    background-color: #555;
    box-shadow: inset 0 0 8px #000;
    border-radius: 12px;
}

::-webkit-scrollbar-corner {
    background: #111;
}

button {
    cursor: pointer;
    outline: 0;
    display: inline-block;
    text-align: center;
    background-color: #444;
    border: 1px solid transparent;
    padding: 5px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #BBB;
    border-color: #555;
}

button:hover {
    color: #CCC;
    background-color: #222;
}
